{
  "plugins": [
      [
          "module-resolver",
          {
              "alias": {
                  "@refactor": "./refactor"
              }
          }
      ],
      ["inline-react-svg", {
        "ignorePattern": "/\?inline/"
      }]
  ],
  "presets": [
      "next/babel"
  ]
}