{
  "plugins": [
      [
          "module-resolver",
          {
              "alias": {
                  "@refactor": "./refactor"
              }
          }
      ],
      "inline-react-svg"
  ],
  "presets": [
      "next/babel"
  ]
}