@import "~@refactor/styles/bootstrap";

.root {
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sortDropdown {
	flex-shrink: 0;
}

.message {
	display: flex;
	padding: 4em;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
