@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.root {
	display: inline-block;
	position: relative;
	cursor: pointer;

	@include media(tablet) {
		min-width: 200px;
	}

	@include on-hover {
		> div {
			color: figma-color("Litho Blue");
			border-color: figma-color("Litho Blue");

			path {
				fill: figma-color("Litho Blue");
			}
		}
	}
}

.trigger {
	width: 100%;
	padding: 0.65em 0.875em 0.75em;
	border: 1px solid figma-color("Litho Black");
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	@include types.headline(h6);
	position: relative;
	z-index: 1;
}

.chevron {
	display: inline-block;
	width: 10px;
	margin-left: 0.5em;
}

.select {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;

	&:disabled {
		cursor: not-allowed;
	}

	&:disabled + div {
		border-color: #bdbdbd;
		cursor: not-allowed;
		background-color: figma-color("Litho Cream");
	}
}
