@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.root {
	display: inline-block;
	position: relative;
	min-width: 200px;
	cursor: pointer;

	@include on-hover {
		> div {
			color: white;
			background-color: figma-color("Litho Blue");
			border-color: figma-color("Litho Blue");

			path {
				fill: white;
			}
		}
	}
}

.trigger {
	width: 100%;
	padding: 0.65em 0.875em 0.75em;
	border: 1px solid figma-color("Litho Black");
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: figma-color("Litho Cream");
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	@include types.button();
	line-height: 1;
}

.chevron {
	display: inline-block;
	width: 10px;
}

.select {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
