@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.header {
	padding: 2em 0 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: block;
	height: 40px;

	svg {
		height: 100%;
		width: auto;
	}

	path {
		transition: fill 0.2s, stroke 0.2s;

		&[fill] {
			fill: figma-color("Litho Black");
		}

		&[stroke] {
			stroke: figma-color("Litho Black");
		}
	}

	@include on-hover {
		path {
			&[fill] {
				fill: figma-color("Litho Blue");
			}

			&[stroke] {
				stroke: figma-color("Litho Blue");
			}
		}
	}
}

.nav {
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.navLink {
	display: block;
	margin-right: 2.25em;
	@include types.headline(h6);
	line-height: 1;
	transition: color 0.2s;

	&--active {
		color: figma-color("Litho Blue");
	}

	@include on-hover {
		color: figma-color("Litho Blue");
	}
}
