@import "~@refactor/styles/bootstrap";

.main {
	height: 100%;
	background: figma-color("Litho Cream")
		url("~@refactor/assets/bitmaps/background-noise.png") repeat;
	display: flex;
	justify-content: center;
}

.inner {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	max-width: 1520px;
	@include interpolate("margin-left", 16px phone, 48px landscape, 80px desktop);
	@include interpolate(
		"margin-right",
		16px phone,
		48px landscape,
		80px desktop
	);
}

.header {
	flex-shrink: 0;
}

.content {
	flex: 1;
}

.footer {
	flex-shrink: 0;
}
