@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.root {
	border: 1px solid figma-color("Litho Black");
	display: grid;
	grid-template-columns: 6fr 4fr;
	grid-template-areas: "display sidebar";
}

.display {
	grid-area: display;
	border-right: 1px solid figma-color("Litho Black");
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
}

.listingQuantity {
	@include types.headline(h6);
	color: figma-color("Litho Black 60%");
	margin-left: 1em;
	vertical-align: baseline;
}

.header {
	margin-bottom: 1.5rem;
}

.body {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.renderer {
	width: 72%;
}

.listingQuantity {
	margin-top: 0.5em;
}

.sidebar {
	grid-area: sidebar;
	position: relative;
}

.sidebarContent {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-y: scroll;
}

.scrollContent {
	width: 100%;
	height: 100%;

	> div {
		border-bottom: 1px solid figma-color("Litho Black");
		padding: 1.5rem;

		&:last-child {
			border-bottom: none;
		}
	}
}

.state {
	margin-bottom: 1.5rem;

	> li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}
}

.stateType {
	display: flex;
	align-items: center;
	@include types.headline(h6);
	color: figma-color("Litho Black 60%");
}

.stateLabel {
	@include types.headline(h6);
}

.typeIcon {
	display: block;
	width: 1rem;
	height: 1rem;
	object-fit: contain;
	object-position: center;
	margin-right: 0.25rem;
	margin-top: 0.125rem;
	opacity: 0.6;
}

.typeLabel {
	display: block;
}

.price {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}

.priceValue {
	@include types.headline(h3);
	overflow: hidden;
	text-overflow: ellipsis;
}

.priceConversion {
	@include types.headline(h6);
	flex-shrink: 0;
	color: figma-color("Litho Black 60%");
}

.submitButton {
	width: 100%;
}

.address {
	@include types.headline(h6);
	dt {
		display: inline-block;
		margin-right: 0.5em;
	}

	dd {
		display: inline-block;
		color: figma-color("Litho Blue");
	}

	em {
		display: inline-block;
		font-style: normal;
		margin-left: 0.5em;
		color: figma-color("Litho Black 60%");
	}
}

.description {
	dt {
		@include types.headline(h6);
		margin-bottom: 0.5em;
	}

	dd {
		@include types.body(b2);
	}
}

.detailsHeadline {
	margin-bottom: 0.5em;
}

.attribute {
	margin-bottom: 0.5em;
	dt {
		@include types.headline(h6);
		color: figma-color("Litho Black 60%");
	}

	dd {
		@include types.body(b1);
	}
}
