@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.root {
	position: relative;
	text-transform: uppercase;
	padding: 0.5em 0.875em;
	color: figma-color("Litho Blue");
	border: 2px solid figma-color("Litho Blue");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: figma-color("Litho Cream");
	transition: color 0.2s, background-color 0.2s;
	@include types.button();

	@include on-hover {
		color: white;
		background-color: figma-color("Litho Blue");
		svg path {
			fill: white;
		}
	}
}

.icon {
	position: relative;
	display: block;
	margin-right: 0.5em;
	cursor: pointer !important;
}

.label {
	position: relative;
	cursor: pointer;
}

.modal {
	width: 100%;
	max-width: 400px;
	height: auto;
	position: absolute;
	top: 5.5em;
	right: 0;
	// @include interpolate("right", 16px phone, 48px landscape, 80px desktop);
}

.chevron {
	display: block;
	width: 12px;
	margin-left: 0.5em;
	margin-bottom: -2px;
	transform: rotate(-90deg);
	transition: transform 0.2s ease-in;

	&--modalOpened {
		transform: rotate(0);
	}

	> svg {
		display: block;
	}

	path {
		fill: figma-color("Litho Black");
	}
}
