@use "~@refactor/styles/types";
@import "~@refactor/styles/bootstrap";

.root {
	position: relative;
	text-transform: uppercase;
	padding: 0.5rem 0.875rem;
	color: figma-color("Litho Blue");
	border: 2px solid figma-color("Litho Blue");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: figma-color("Litho Cream");
	@include types.button();

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: figma-color("Litho Blue");
		opacity: 0;
		transition: opacity 0.2s;
	}

	@include on-hover {
		color: white;
		&::before {
			opacity: 1;
		}
		> svg path {
			fill: white;
		}
	}
}

.icon {
	position: relative;
	display: block;
	margin-right: 0.5em;
	cursor: pointer !important;
}

.label {
	position: relative;
	cursor: pointer;
}

.modal {
	width: 100%;
	max-width: 400px;
	height: auto;
	position: absolute;
	top: 5rem;
	right: 0;
	// @include interpolate("right", 16px phone, 48px landscape, 80px desktop);
}
